# Ambientes Virtuais
venv/
.venv/
ENV/
env/

# Python (Arquivos compilados)
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco de dados local (Para não subir seu banco de teste)
*.sqlite3

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Pastas de IDEs/Editores
.vscode/
.idea/

# Arquivos estáticos gerados no deploy
staticfiles/

# Logs
*.log